ul{
  display: grid;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2c2c6c;
}

.nicon{
  font-size: 1.5rem;
}


li a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 5px 7px;
  text-decoration: none;
}

li a:hover{
  color: var(--color-primary);
}

.datar{
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding:0 1.5rem;
}

.datar:hover{
  background-color: var(--color-primary);
  padding: 0.9rem;
}